.image{
    position: relative;
    display: flex;
    /* align-content: center; */
    left: 14px;
    top: 5px;

}
.container{
    width: 330px;
    background-color: lightgreen;
    height: 247px;
    border-radius: 18px;

}
img{
    width:300px;
}
.line{
    display: flex;
    position: relative;
    /* left: 36px; */
    padding: 1px;
    margin: 24px 45px;
}